*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
}
body{
    background-color: lightgray ;
    
}
.header{
    background-color: #0F172A;
    color: white;
    height: 60px;
}
.header>h2{
    display: inline-block;
    width: 48%;
    vertical-align: middle;
    padding-top: 10px;
    padding-left: 20px;
}
.header>.avatar{
    display: inline-block;
    width: 48%;
    text-align: right;
    padding-top: 10px;
    
    
}
.avatar>img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    vertical-align: middle; 
    
}
.sidebar{
    width:220px;
    height:calc(100vh - 60px);
    background-color: #1E293B;
    position:fixed;
    top:60px;
    left:0;
}
.main-contant{
    margin-left: 220px;
    padding: 20px;

    
}
.sidebar a{
    display: block;
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    font-size: 22px;
    margin: 10px;
    border-bottom: 1px solid #3b5a8f ;

}
.sidebar a:hover{
    background-color: #314464;
    transform: translateX(10px);
    transition: 0.9;
}
a:last-child{
    position: absolute;
    bottom: 0;
    width: 90%;
    left: 0;
}
a:last-child:hover{
    background-color: red;
}
.card{
    display: inline-block;
    width: 250px;
    background-color: white;
padding: 20px;
margin: 10px;
border-radius: 10px;
box-shadow: 0px 10px 10px grey;
height: 100px;
}

.card h2,.card h3{
    margin-bottom: 10px;
    font-size: 26px;

}
.card p{
    font-size: 28px;
    font-weight: bold;
    color: #0F172A;
}
.table-container{
    background-color: white;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 6px 6px rgb(104, 104, 104);
}
.table-container h2{
    margin-bottom: 15px;
}
table{
    width: 100%;
    border-collapse: collapse;
}
table th,table td{
    border: 1px solid whitesmoke;
    padding: 12px;
    text-align: left;
    font-size: 18px;

}
table td img{
    width: 120px;
    height: 80px;
    object-fit: cover;
    display: block;
    border-radius: 5px;
}



table th{
    background-color: rgb(201, 207, 207);
}
table tr:hover{
    background-color: rgb(220, 228, 236);
}

.panding{
    font-weight: bold;
    font-size: 20px;
    color: rgb(249, 180, 6);
}
.Complete{
    color: rgb(3, 165, 3);
     font-weight: bold;
    font-size: 20px;
}
.cancel{
     font-weight: bold;
    font-size: 20px;
    color: red;
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center ;
    border: 1px solid ;
} 
.login{
    width: 350px;
  height: 250px;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 10px 10px 10px 0px rgb(58, 58, 58);
    border: 2px solid rgb(196, 194, 194);
} 
.login h1{
    display: inline-block;
    padding: 10px;
    padding-left: 60px ;
    color: #314464;
}
.login input{
    width: 100%;
    padding: 5px;
border: 1px solid #ccc;
border-radius: 5px;
margin-bottom: 10px;
}
.login button{
    width: 25%;
    padding: 8px;
    background-color: #314464;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    margin-left: 100px;
    transition: calc(0.9);
}
.login button:hover{
    background-color: rgb(20, 172, 20);
    transform: translateY(5px);
    transition: calc(0.9);

}





.setting-card{
    background-color: rgb(200, 199, 199);
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 0px grey;

}
.main-contant h1{
     color: #0F172A;
    margin-bottom: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
   margin-left: 30%;
}
.setting-card h2{
    color: #0F172A;
    margin-bottom: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;

}
.grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}
.grid input{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid gray;
    font-size: 15px;
    outline: none;
}
label{
    display: block;
    margin: 10px 0px;
    font-size: 20px;

}
.grid-text{
    display: grid;
    grid-template-columns: 1;


}
textarea{
    width: 100%;
    height: 150px;
    box-shadow: 5px 5px 5px 0px grey;
    border-radius: 10px;
    padding: 10px 10px ;
    outline: none;
    margin-top: 20px;
    margin-bottom: 20px;
}
button{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 15%;
    height: 30px;
    border: 1px solid#314464  ;
    background-color:#314464;
    border-radius: 10px ;
    color: aliceblue;
    font-size: 18px;

}
button:hover{
    background-color: #1e468c;
    cursor: pointer;
    
}
button:active{
    background-color: #1e468c;
    cursor: progress;
    
}